---
BasedOnStyle: LLVM
AlignTrailingComments: 'true'
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: 'true'
AllowShortLoopsOnASingleLine: 'true'
MaxEmptyLinesToKeep: '1'
Standard: Cpp11
UseTab: ForIndentation